@use "./utilities/variables" as *;
@use "./utilities/themes" as *;
@use "./base/reset";

body {
  color: $text-color;
  overflow-y: hidden;
}

body.light {
  @include theme($light-theme);
}

body.dark {
  @include theme($dark-theme);
}

.button {
  background-color: #0070f3;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #005bb5;
  }
}

.h-12 {
  padding: 10px 14px !important;
  height: 44px;
}

main.root-page {
  display: grid;
  grid-template-columns: 312px auto;
}

header {
  padding: 14px 32px;
  box-shadow: 0px 4px 8px 0px #0000000d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .profile-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }
}

.icon-custom {
  color: $secondary-color;
  font-size: 24px;
}

.icon-search {
  font-size: 20px;
  color: $secondary-color;
}

.logo-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  .text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    span {
      font-size: 24px;
      font-weight: 600;
    }
  }
}

main {
  height: calc(100vh - 76px);
}




